[user]
	name = {{ .name }}
	email = {{ .email }}
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	pl = pull
	ps = push
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
